  body, div, ul, li, form, input {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 102%;
}

::selection { background: transparent }

body {
  background: #000;
}

ul {
  list-style-type: none
}

.list {
}

.list li {
  background: rgb(250, 255, 40);
  color: #FFF;
  background-repeat: no-repeat;
}

.list li div {
  position: relative;
  padding: 0.75em 0;
  background: rgb(50, 50, 60);
  border-top: 1px solid rgb(70, 70, 90);
  border-bottom: 1px solid rgb(30, 30, 40);
  overflow: auto;

  display: flex; display: -webkit-flex; display: -webkit-box;
  transition: left 0.3s; -webkit-transition: left 0.3s;
}

.list li div.dragged {
  transition: left 0s; -webkit-transition: left 0s;
}

.list li div span {
  box-sizing: border-box;
  padding: 0 2%;
  display: block;
  flex: 1; -webkit-flex: 1; -webkit-box-flex: 1;
  min-width: 2em;
}

.hidden {
  display: none;
}

.list li div.progress {
  -webkit-transition: background 1s ease-out;
  xbackground: -webkit-linear-gradient(right, rgb(150, 150, 60) 0%, rgb(150, 150, 60) 50%, rgb(50, 50, 60) 50%, rgb(50, 50, 60) 100%);
  background: -webkit-linear-gradient(right, rgb(240, 210, 60) 50%, rgb(50, 50, 60) 50%);
  background-size: 200%;
  background-position: 0%;
}

.list li div.progress.noTransition {
  -webkit-transition: background 0s;
}

#content {
  width: 320px;
  height: 568px;
  max-height: 568px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#settings form {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}

#settings form input {
  width: 100%;
  padding: 0.75em 0.5em;
  background: rgb(230, 230, 230);
  border: none;
  border-top: 1px solid rgb(250, 250, 250);
  border-bottom: 1px solid rgb(210, 210, 210);
  color: rgb(100, 100, 100);
  -webkit-appearance: none;
}

#settings form input[type='submit'] {
  background: rgb(200, 200, 200);
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(180, 180, 180);
}

#settings form.show {
  height: 10rem;
  overflow: hidden;
}

#accounts .account {
  height: 50px;
  -webkit-transition: height 0.4s ease-out, padding 0.4s ease-out;
  transition: height 0.4s ease-out, padding 0.4s ease-out;
  overflow: hidden;
}

#accounts .account div {
  background: rgb(180, 180, 180);
  border-top-color: rgb(220, 220, 220);
  border-bottom-color: rgb(160, 160, 160);
}

#accounts .account.selected div {
  background: rgb(50, 50, 60);
  border-top-color: rgb(70, 70, 90);
  border-bottom-color: rgb(30, 30, 40);
}

#accounts .collapsed .account:not(.selected) {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}

#stats .collapsed {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  display: none;
}

#stats .list.categories li,
#items .list li {
  color: #333;
}

#items .list li div {
  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(235, 235, 235);
  border-top: 1px solid rgb(255, 255, 255);
  overflow: auto;
}

#stats .list.categories li div {
  background: rgb(230, 230, 230);
  border-bottom: 1px solid rgb(215, 215, 215);
  border-top: 1px solid rgb(255, 255, 255);
  overflow: auto;
}

#stats .list.categories li div span.price,
#items .list li div span.price {
  min-width: 4em;
  text-align: right;
  flex: 0; -webkit-flex: 0; -webkit-box-flex: 0;
}

#stats .list.categories li div span.name,
#items .list li div span.name {
  flex: 1; -webkit-flex: 1; -webkit-box-flex: 1;
}

#stats .list.categories li div span.count {
  flex: 0; -webkit-flex: 0; -webkit-box-flex: 0;
  width: 3em;
  padding-right: 1em;
  text-align: right;
  font-size: 80%;
  opacity: 0.5;
}

#items .list li.future {
  color: #999;
}

#items .list li div span.date {
  flex: 0; -webkit-flex: 0; -webkit-box-flex: 0;
  width: 3em;
  text-align: center;
  margin: -0.5em 0 -0.5em 0;
  font-size: 80%;
  font-weight: 300;
}

#addFormButtonWrapper {
  position: fixed;
  left: 50%;
  bottom: 1em;
  font-size: 120%;
  width: 6em;
  height: 3em;
}

#addItemButton {
  width: 3em;
  height: 3em;
  background: red;
  color: white;
  padding: 0.8em 1em 1.2em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1.5em;
  text-align: center;
  display: block;
  margin-left: -1.5em;
  float: left;
  -webkit-transition: background 0.4s ease-out, opacity 0.4s ease-out 0.4s;
  transition: background 0.4s ease-out, opacity 0.4s ease-out 0.4s;
}

#addItemButton.edit {
  background: green;
}

#addForm form {
  width: 320px;
  height: 570px;
  position: fixed;
  top: 1138px;
  background: black;
  -webkit-transition: top 1s ease-out;
  z-index: 100;
}

#addForm form.open {
  top: 0px;
}

#addForm input {
  width: 300px;
  xpadding: 0 2%;
  xborder: none;
  xbackground: transparent;
  color: white;
}

#addForm .list li div.total span:first-child {
  background: red;
  max-width: 64px;
  padding: 0;
  background: url(img/back.png) no-repeat 30% 50%;
}

#addForm .list li div.total,
#addForm .list li div.info,
#addForm .list li div.repeat,
#addForm .list li div.dates {
  background: white;
  color: black;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(255, 255, 255);
}

#addForm .list li div.total {
  padding: 0.5em 0;
  white-space: nowrap;
}

#addForm .list li div.info {
  padding: 0;
}

#addForm .list li div.info span {
  padding: 0.75em 0.5em;
}

#addForm .list li div.repeat .selected {
  font-weight: bold;
}

#addForm .list li div.total span {
  font-size: 250%;
  text-align: right;
  font-weight: 300;
}

#addForm .list li div.repeat,
#addForm .list li div.dates,
#addForm .list li div.op {
  padding: 0 0;
}

#addForm .list li div.repeat span,
#addForm .list li div.op span {
  padding: 0.5em 0;
  min-width: 4em;
  text-align: right;
  flex: 1; -webkit-flex: 1; -webkit-box-flex: 1;
  text-align: center;
  font-size: 90%;
  border-left: 1px solid rgb(70, 70, 90);
  border-right: 1px solid rgb(30, 30, 40);
}

#addForm .list li div.dates > span {
  font-size: 115%;
  font-weight: 300;
  width: 20%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: center;
  border-left: none;
  border-right: none;
}

#addForm .list li div.dates > span:first-child {
  padding-top: 0.7em;
}

#addForm .list li div.dates span.selected {
  font-weight: normal;
}

#addForm .list li div.dates .month {
}

#addForm .list li div.repeat span {
  border: none;
}

#addForm .list li div.key {
  padding: 0 0;
}

#addForm .list li div.key span {
  min-width: 4em;
  text-align: right;
  flex: 0; -webkit-flex: 0; -webkit-box-flex: 1;
  text-align: center;
  font-size: 140%;
  border-left: 1px solid rgb(70, 70, 90);
  border-right: 1px solid rgb(30, 30, 40);
  padding: 0.48em 0;
}

#addForm .list li div.key span.confirm {
  background: #1ABB9A;
  border-radius: 5px;
}


@-webkit-keyframes highligh-animation
{
  0% {background: rgb(150, 150, 150);}
  100% {background: rgba(150, 150, 150, 0);}
}

#addForm .list li div.op .tapped,
#addForm .list li div.key .tapped  {
  -webkit-animation: highligh-animation 0.7s 1;
}

#stats .calendarHeader span:first-child,
#stats .calendarHeader span:last-child,
#addForm .calendarHeader span:first-child,
#addForm .calendarHeader span:last-child {
  max-width: 20px;
}

#stats .calendarHeader div,
#addForm .calendarHeader div,
#addForm .calendarWeek div {
  padding: 0.3em 0.3em;
}

#stats .calendarHeader span,
#addForm .calendarHeader span {
  padding: 0.2em 0.2em;
  text-align: center;
}

#addForm .calendarWeek span {
  padding: 0.3em 0.2em;
  text-align: center;
  border-radius: 5px;
}

#addForm .calendarWeek span.today {
  background: rgba(255, 255, 255, 0.1);
}

#addForm .calendarWeek span.current {
  background: #1ABB9A;
}

#addForm .calendarWeek span.out {
  color: #666;
}

